*, ::before , ::after , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    padding: 20px 425px;
    color: black;
}

/* * Nav */
nav, .nav_right{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_right {
    gap: 15px;
}

select, option { 
    outline: none;
    border: none;
}

select {
    border-right: 2px solid rgb(209, 206, 206);
    padding-right: 25px;
}

.nav_toggle_mode {
    
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

/* * TOGGLE BUTTON */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* SLIDER */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

/* * MAIN */



/* * FOOTER */